<link rel="stylesheet" href="csss/style.css">


<div id="login">
     <h1>Welcome Back!</h1>

     <form action="/login" method="post">

       <div class="field-wrap">

         <input name="email" type="email" placeholder="Enter your email.." required  />
       </div>



       <div class="field-wrap">

         <input placeholder="Enter your password..." name="password" type="password" required />
       </div>




       <p class="forgot"><a href="#">Forgot Password?</a></p>

       <button class="button button-block" />Log In</button>

     </form>

   </div>
