<link rel="stylesheet" href="csss/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="form">



  <div class="tab-content">







     <h1 class="Welcome">Sign Up for Free</h1>


    <form action="/signup" method="post">

      <div class="field-wrap" id="formError">

      </div>


      <div class="field-wrap">
        <div class="field-wrap">
          <input class="loginInput" type="text" name="name" id="userName" required placeholder="Username..." />
          <i class="fa fa-exclamation-circle" id="UsernameIcon"></i>
        </div>
      </div>



      <div class="field-wrap">
        <input class="loginInput" name="email" id="email"  type="email" required placeholder="Email" />
        <i class="fa fa-exclamation-circle" id="emailIcon"></i>
      </div>


      <div class="field-wrap">
        <input class="loginInput" id="phone" name="phone" type="text" required placeholder="Phone" />
        <i class="fa fa-exclamation-circle" id="phoneIcon"></i>
      </div>



      <div class="field-wrap">
        <input class="loginInput" name="password" id="password" type="password" required placeholder="Password" />
        <i class="fa fa-exclamation-circle" id="passwordIcon"></i>
      </div>



      <button class="loginButton" type="submit" id="formSubmit" class="button button-block" />Get Started</button>

    </form>
    <p class="forget">Aready have an account?<a href="login"> Login now!</a></p>



  </div>
</div>
<script src="./js/domSignup.js"></script>
