

    <meta charset="utf-8">
    <title>Reddit</title>
    <div class="nav">
      <img src="https://pbs.twimg.com/profile_images/2557016514/0sdpjdwj63wnkjgleug7.png"
      alt="" style="width:60px;height:90px;padding-left:30px">
<span class="headText">Welcome</span>

    </div>
