
<link rel="stylesheet" href="/csss/style.css">
<!DOCTYPE html>
<html>
  <head>
    {{>header}}
  </br></br></br>
  </head>


  <body>
    {{{body}}}
<br><br><br><br>
    {{>footer}}

  </body>
</html>
